---
import MainLayout, { glassEffect, slateLinear } from "../layouts/MainLayout.astro";

const interests = [
  {
    title: "Human-AI",
    desc: "Collaborative creativity",
    icon: "✨",
    color: "bg-blue-400/10",
  },
  {
    title: "Generative UI",
    desc: "Dynamic interfaces",
    icon: "🎨",
    color: "bg-green-400/10",
  },
  {
    title: "Knowledge",
    desc: "Structured data",
    icon: "🧠",
    color: "bg-yellow-400/10",
  },
  {
    title: "Computing",
    desc: "Modern graphics",
    icon: "🕶️",
    color: "bg-rose-400/10",
  },
];

const cardBase = `${glassEffect} group p-8 rounded-[32px] transition-all duration-500 hover:shadow-2xl hover:-translate-y-2`;
---

<MainLayout title="Chao-Ning Hu | Home">
  <main class="max-w-5xl mx-auto px-8 pt-48 pb-32">
    <header class="mb-24">
      <p
        class="text-[10px] font-bold text-slate-400 uppercase tracking-[0.4em] mb-4"
      >
        Hello World
      </p>
      <h1
        class="text-6xl md:text-8xl font-black tracking-tighter leading-none mb-6"
      >
        <span class=`${slateLinear}`>I'm</span>
        <span
          class="bg-linear-to-br from[#E34D2E] via-[#F47B20] to-[#F9CB28] bg-clip-text text-transparent"
        >
          Chao-Ning Hu
        </span>
      </h1>
      <p
        class="text-xl md:text-2xl font-medium text-slate-500 max-w-xl leading-snug"
      >
        Welcome to my Homepage
      </p>
    </header>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      {
        interests.map(({ title, desc, icon, color }) => (
          <div class={`${cardBase} ${color}`}>
            <div class="text-3xl mb-6 group-hover:scale-110 transition-transform duration-500">
              {icon}
            </div>
            <h3 class="text-lg font-bold mb-1 text-slate-800">{title}</h3>
            <p class="text-xs text-slate-500 font-medium leading-relaxed">
              {desc}
            </p>
          </div>
        ))
      }
    </div>
  </main>
</MainLayout>
