---
import MainLayout, { glassEffect, slateLinear } from "../layouts/MainLayout.astro";
import { Icon } from 'astro-icon/components';

const interests = [
  {
    title: "Quantum Metrology",
    desc: "Exploring fundamental limits imposed by quantum mechanics.",
    icon: "lucide:orbit", 
  },
  {
    title: "Quantum Imaging",
    desc: "Optical super-resolution beyond classical limits.",
    icon: "lucide:microscope", 
  },
  {
    title: "Computer Science & AI",
    desc: "“Not my major, just a hobbyist, driven by personal interest.”",
    icon: "lucide:cpu", 
  },
];

const cardBase = `${glassEffect} group p-8 rounded-4xl transition-all duration-300 hover:-translate-y-2`;
// from[#E34D2E] via-[#F47B20] to-[#F9CB28]
---

<MainLayout title="Chao-Ning Hu | Home">
  <main class="max-w-5xl mx-auto px-8 pt-48 pb-32">
    <header class="mb-24">
      <p
        class="text-[10px] font-bold text-slate-400 uppercase tracking-[0.4em] mb-4"
      >
        Hello World
      </p>
      <h1
        class="text-6xl md:text-8xl font-black tracking-tighter leading-none mb-6"
      >
        <span class=`${slateLinear} leading-tight pb-0`>I'm Chao-Ning Hu</span>
      </h1>
      <p
        class="text-xl md:text-2xl font-medium text-slate-500 max-w-xl leading-snug"
      >
        Welcome to my Homepage
      </p>
    </header>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        interests.map(({ title, desc, icon }) => (
          <div class={`${cardBase}`}>
            <div class="text-3xl mb-6 group-hover:scale-105 transition-transform duration-500">
              <Icon name={icon} class="w-8 h-8" />
            </div>
            <h3 class={`text-xl font-bold mb-2 text-slate-800 ${slateLinear}`}>{title}</h3>
            <p class="text-sm text-slate-600 leading-relaxed line-clamp-2 [hyphens:auto]">
              {desc}
            </p>
          </div>
        ))
      }
    </div>
  </main>
</MainLayout>
