---
// @ts-nocheck
import MainLayout from "../layouts/MainLayout.astro";
import { titleStyle, decorationLine } from "../layouts/PostLayout.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const posts = allPosts.sort(
  (a, b) => b.data.released.valueOf() - a.data.released.valueOf(),
);

const groupedPosts = posts.reduce((acc, post) => {
  const year = post.data.released.getFullYear().toString();
  (acc[year] = acc[year] || []).push(post);
  return acc;
}, {});

const years = Object.keys(groupedPosts).sort((a, b) => b - a);
---

<MainLayout title="Posts">
  <main class="max-w-2xl mx-auto pt-32 pb-20 px-6">
    <header class="mb-16">
      <h1 class={titleStyle}>Posts</h1>
      <div class={decorationLine}></div>
    </header>

    <div class="space-y-16">
      {
        years.map((year) => (
          <section>
            <div class="flex items-center gap-4 mb-8">
              <h2 class="text-sm font-black uppercase tracking-[0.2em] text-ter">
                {year}
              </h2>
            </div>

            <div class="grid gap-6">
              {groupedPosts[year].map((post) => (
                <a href={`/posts/${post.id}`} class="group block no-underline">
                  <article class="p-6 rounded-4xl transition-all duration-300 hover:-translate-y-1 glass">
                    <h3 class="text-xl font-bold mb-2 text-main">
                      {post.data.title}
                    </h3>

                    {post.data.description && (
                      <p class="text-sm text-sec leading-relaxed line-clamp-2 mb-4">
                        {post.data.description}
                      </p>
                    )}

                    <div class="flex items-center justify-between">
                      <time class="text-[10px] font-bold text-ter uppercase tracking-wides">
                        {post.data.released.toLocaleDateString("en-US", {
                          month: "short",
                          day: "numeric",
                        })}
                      </time>
                      <Icon
                        name="ri:arrow-right-s-line"
                        class="w-4.5 h-4.5 text-main opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:translate-x-1"
                      />
                    </div>
                  </article>
                </a>
              ))}
            </div>
          </section>
        ))
      }
    </div>
  </main>
</MainLayout>
