---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;

export const titleStyle =
  "text-main text-4xl md:text-5xl font-extrabold tracking-tight leading-tight pb-0";

export const decorationLine =
  "bg-linear-to-r from-main to-transparent mt-6 rounded-full opacity-50 h-1 w-20";

const rawDate = frontmatter.date;
let formattedDate = null;

if (rawDate) {
  const dateObj = rawDate instanceof Date ? rawDate : new Date(rawDate);
  if (!isNaN(dateObj.getTime())) {
    formattedDate = dateObj.toLocaleDateString("en", {
      year: "numeric",
      month: "short",
      day: "numeric",
    });
  }
}
// const title = frontmatter.title_zh ? frontmatter.title_zh : frontmatter.title;
---

<MainLayout title={frontmatter.title} bg="bg_white" glass="glass_gray">
  <!-- <div style="display: none;" data-pagefind-body>
    <span data-pagefind-meta="title">{frontmatter.title}</span>
    <span data-pagefind-weight="7">{frontmatter.description}</span>
  </div> -->

  <article
    data-pagefind-body
    class="max-w-4xl mx-auto pt-32 pb-20 px-6 font-sans antialiased"
  >
    <header class="mb-12">
      <h1 class={titleStyle} data-pagefind-weight="10">{frontmatter.title}</h1>
      <div class={decorationLine}></div>
      <div class="hidden" data-pagefind-weight="7">{frontmatter.description}</div>
      {
        frontmatter.abstract && (
          <div
            class="mx-8 mt-8 text-sec text-sm leading-relaxed italic"
            data-pagefind-weight="4"
          >
            {frontmatter.abstract}
          </div>
        )
      }
    </header>

    <div
      class="prose text-main prose-lg max-w-none
      prose-headings:font-bold prose-headings:tracking-tight
      prose-blockquote:border-l-quat prose-blockquote:italic prose-blockquote:text-sec
      prose-strong:text-main prose-li:marker:text-main
      prose-img:rounded-md prose-img:mx-auto prose-img:block prose-img:w-full prose-img:h-auto
      prose-pre:rounded-md prose-pre:overflow-hidden"
    >
      <slot />
    </div>

    {
      formattedDate && (
        <footer class="mt-20 pt-4 border-t border-quat/50 flex items-center text-quat text-[10px] select-none">
          <span class="font-black uppercase italic">Date: {formattedDate}</span>
        </footer>
      )
    }
  </article>
</MainLayout>

<style is:global>
  @reference "../styles/global.css";

  .prose :where(.MathJax[display="true"]) {
    @apply block overflow-x-auto overflow-y-hidden;
  }

  .MathJax svg {
    @apply inline-block align-middle;
    shape-rendering: geometricPrecision;
    max-width: none;
  }
</style>
